.client-2{
    margin-left: 1em;
}

.real-card{
    margin-left: 5em;
    margin-bottom: 2em;
    margin-top: 5em; 
}

.client-1{
    margin-left: 1em;
}

.banking-question{
    margin-left: 2em;
    margin-bottom: 1em;
}

.overView-card{
    margin-right: 20em;
}

.overView{
    margin-right: 5em;
}