.client-2{
    margin-left: 1em;
}

.real-card{
    margin-left: 12em;
    margin-top: 5em; 
}

.client-1{
    margin-left: 1em;
}

.banking-question{
    margin-left: 2em;
    margin-bottom: 1em;
}

.real-card{
    margin-bottom: 2em;
}