<div class="row">
  <div class="col-7">
    <div class="titleName">
      <h3>{{ title }}</h3>
      <p>{{ phara }}</p>
    </div>
    <form [formGroup]="personalForm" >
    <div class="relation-to-Usa form-container border border-1" style="width: 44.9rem">
       <mat-card>
        
          <div>
            <mat-label for="exampleInputEmail1" >First Name</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <!-- <mat-mat-label class="newLabel" >First Name</mat-mat-label> -->
            <input matInput type="text"  formControlName="firstName" placeholder="First Name">
            <mat-error *ngIf="personalForm.get('firstName')?.invalid">
              <span *ngIf="personalForm.get('firstName')?.errors?.['required']">First Name is required.</span>
              <span *ngIf="personalForm.get('firstName')?.errors?.['min']">First Name should have atlest 3 characters</span>
            </mat-error>
          </mat-form-field>
       
        
          <div>
            <mat-label for="exampleInputEmail1" >Last Name</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <!-- <mat-mat-label class="newLabel" >Last Name</mat-mat-label> -->
            <input matInput type="text"  formControlName="lastName" placeholder="Last Name">
            <mat-error *ngIf="personalForm.get('lastName')?.invalid">
              <span *ngIf="personalForm.get('lastName')?.errors?.['required']">Last Name required.</span>
              <span *ngIf="personalForm.get('lastName')?.errors?.['min']">Last Name should have atlest 3 characters</span>
            </mat-error>
          </mat-form-field>

          <!-- <div>
            <mat-label>Material Status</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <input matInput formControlName="materialStatus" placeholder="Material Status" [matAutocomplete]="auto">
            <mat-autocomplete #auto>
              <mat-option *ngFor="let marriageStatus of ['Single' , 'Married' , 'available' , 'widowed' , 'register civil patnership']" [value]="marriageStatus">{{marriageStatus}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="personalForm.get('materialStatus')?.invalid">
              <span *ngIf="personalForm.get('materialStatus')?.errors?.['required']">Material Status is required</span>
            </mat-error>
          </mat-form-field> -->

          <div class="form-group col">
            <label>Material Status</label>
            <select class="form-control" formControlName="materialStatus"  placeholder="Material Status" >
              <option value="Single">Single</option>
              <option value="Married">Married</option>
              <option value="available">available</option>
              <option value="widowed">widowed</option>
              <option value="register civil patnership">register civil patnership</option>
            </select>
            <div  *ngIf="submitted && personalForm.get('materialStatus')?.invalid">
              <small *ngIf="personalForm.get('materialStatus')?.errors?.['required']" class="Material-Status" >Material Status is required </small>
            </div>
          </div>

          <div>
            <mat-label>Country</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <input matInput formControlName="country" placeholder="country" [matAutocomplete]="auto">
            <mat-autocomplete #auto>
              <mat-option *ngFor="let status of arrayOfCountries" [value]="status">{{status}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="personalForm.get('country')?.invalid">
              <span *ngIf="personalForm.get('country')?.errors?.['required']">Material Status is required</span>
            </mat-error>
          </mat-form-field>
       
        
          <div>
            <mat-label for="exampleInputEmail1" >Date of Birth</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <!-- <mat-mat-label class="newLabel">Date of Birth</mat-mat-label> -->
            <input matInput type="text" formControlName="dateOfBirth" placeholder="YYYY-MM-DD">
            <mat-error *ngIf="personalForm.get('dateOfBirth')?.invalid">
              <span *ngIf="personalForm.get('dateOfBirth')?.errors?.['required']">Date of Birth required</span>
              <span *ngIf="personalForm.get('dateOfBirth')?.errors?.['pattern']">format should YYYY-MM-DD</span>
            </mat-error>
          </mat-form-field>
       
      
          <div>
            <mat-label for="exampleInputEmail1" >Place of Birth</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <!-- <mat-mat-label class="newLabel" >Place of Birth</mat-mat-label> -->
            <input matInput type="text"  formControlName="placeOfBirth" placeholder="Place of Birth">
            <mat-error *ngIf="personalForm.get('placeOfBirth')?.invalid">
              <span *ngIf="personalForm.get('placeOfBirth')?.errors?.['required']">Place of Birth is required</span>
              <span *ngIf="personalForm.get('placeOfBirth')?.errors?.['min']">Place of Birth should have atlest 3 characters</span>
            </mat-error>
          </mat-form-field>
          
          <!-- <div>
            <mat-label>Country</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <input matInput formControlName="country" placeholder="Country" [matAutocomplete]="auto">
            <mat-autocomplete #auto>
              <mat-option *ngFor="let country1 of arrayOfCountries" [value]="country" >{{country1}}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="personalForm.get('country')?.invalid">
              <span *ngIf="personalForm.get('country')?.errors?.['required']">Country is required</span>
            </mat-error>
          </mat-form-field> -->
          
          <!--
             <div>
            <mat-label>Country</mat-label>
          </div>
          <mat-form-field appearance="outline">
            <input matInput formControlName="countries" placeholder="Select any Country" [matAutocomplete]="auto">
            <mat-autocomplete #auto>
              <mat-option  *ngFor="let country of countries" value="country"  >{{ country.name }}</mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="personalForm.get('countries')?.invalid">
              <span *ngIf="personalForm.get('countries')?.errors?.['required']">Country Status is required</span>
            </mat-error>
          </mat-form-field> -->

          <!-- <div>
            <mat-label for="exampleInputEmail1" >Country </mat-label>
          </div>
          <mat-form-field appearance="outline">
            <input matInput type="text"  formControlName="country" placeholder="Country">
            <mat-error *ngIf="personalForm.get('country')?.invalid">
              <span *ngIf="personalForm.get('country')?.errors?.['required']">Country is required</span>
            </mat-error>
          </mat-form-field> 
        -->
       
       </mat-card>
       
      <!-- </form> -->
    </div>

    <div
      class="relation-to-Usa form-container border border-1"
      style="width: 44.9rem"
    >
      <mat-card>
        <mat-card-content>
          {{ relationData }}  (optional)
        </mat-card-content>
        <hr /> 
        <section class="example-section" [formGroup]="toppings">
          <p>
            <mat-checkbox formControlName="bornInUs"
              >I was born in the US.</mat-checkbox
            >
          </p>
          <p>
            <mat-checkbox formControlName="holdCitizenship"
              >I hold a US citizenship.</mat-checkbox
            >
          </p>
          <p>
            <mat-checkbox formControlName="greenCard"
              >I have a green card.</mat-checkbox
            >
          </p>
        </section>
      </mat-card>
    </div>

    <div
      class="relation-to-Usa form-container border border-1"
      style="width: 44.9rem; height: auto" >
      <mat-card>
        <mat-card-content>
          {{ reportingAddress }}  (optional)
        </mat-card-content>
        <hr />
        <!-- radio button  -->
        <div>
          <mat-radio-group
            aria-label="Select an option"
            (change)="onChangeFresher($event)">
            <mat-radio-button value="residentialGermany">{{
              radioButtonOne
            }}</mat-radio-button>
            <div *ngIf="selectedOption === 'residentialGermany'">
              <input
                type="text"
                class="inputFiledforresidential"
                placeholder="Germany tax handy"
              />
            </div>
            <mat-radio-button value="taxresidentalGermany">{{
              radioButtonTwo
            }}</mat-radio-button>
            <div *ngIf="selectedOption === 'taxresidentalGermany'">
              <input
                type="text"
                class="inputFiledforresidential"
                placeholder="Germany tax handy"
              />
              <input
                type="text"
                class="inputFiledforresidential"
                placeholder="Land"
              />
              <input
                type="text"
                class="inputFiledforresidential"
                placeholder="Tax Id"
              />
            </div>
            <mat-radio-button value="nonResidentalgermany">{{
              radioButtonThree
            }}</mat-radio-button>
            <div *ngIf="selectedOption === 'nonResidentalgermany'">
              <input
                type="text"
                class="inputFiledforresidential"
                placeholder="Germany tax handy"
              />
              <input
                type="text"
                class="inputFiledforresidential"
                placeholder="Land"
              />
              <input
                type="text"
                class="inputFiledforresidential"
                placeholder="Tax Id"
              />
            </div>
          </mat-radio-group>
        </div>
      </mat-card>
    </div>

    <div  
     class="relation-to-Usa form-container border border-1"
    style="width: 44.9rem"
    >
    <!-- <form [formGroup]="personalForm" > -->
      <mat-card>
        <mat-card-content>
            Reporting address
        </mat-card-content>
        <hr>
          <div>
            <mat-label>street and house number</mat-label>
          </div>
          <mat-form-field appearance="outline" >
            <input matInput formControlName="streetAndNumber" type="text" placeholder="street and house number" />
            <mat-error *ngIf="personalForm.get('streetAndNumber')?.invalid">
              <span    *ngIf="personalForm.get('streetAndNumber')?.errors?.['required']">Street name is required</span>
              <span   *ngIf="personalForm.get('streetAndNumber')?.errors?.['pattern']">Street name and number should have space.</span>
            </mat-error>
          </mat-form-field>
          <div>
            <label>PLZ</label>
          </div>
          <mat-form-field appearance="outline" >
            <input matInput formControlName="plz" type="text" placeholder="PLZ" />
            <mat-error *ngIf="personalForm.get('plz')?.invalid">
              <span    *ngIf="personalForm.get('plz')?.errors?.['required']">PLZ is required</span>
              <span   *ngIf="personalForm.get('plz')?.errors?.['pattern']">PLZ should be excat 5 pin-code</span>
            </mat-error>
          </mat-form-field>
        <div>
          <label>CITY</label>
        </div>
        <mat-form-field appearance="outline" >
          <input matInput formControlName="city" type="text" placeholder="city" />
          <mat-error *ngIf="personalForm.get('city')?.invalid">
            <span    *ngIf="personalForm.get('city')?.errors?.['required']">city is required</span>
            <!-- <span   *ngIf="personalForm.get('city')?.errors?.['pattern']">city</span> -->
          </mat-error>
        </mat-form-field>
      </mat-card>
    <!-- </form> -->
    </div>

    <div  
    class="relation-to-Usa form-container border border-1"
   style="width: 44.9rem"
   >
   <!-- <form [formGroup]="personalForm" > -->
     <mat-card>
       <mat-card-content>
        Contact
       </mat-card-content>
       <hr>
         <div>
           <mat-label>Phone Number</mat-label>
         </div>
         <mat-form-field appearance="outline" >
           <input matInput formControlName="phoneNumber" type="text" placeholder="Phone no (eg +910000000000)" />
           <mat-error *ngIf="personalForm.get('phoneNumber')?.invalid">
             <span    *ngIf="personalForm.get('phoneNumber')?.errors?.['required']">Phone Number is required</span>
             <span   *ngIf="personalForm.get('phoneNumber')?.errors?.['pattern']">Phone No should have +91 & and have 10 number</span>
           </mat-error>
         </mat-form-field>
         <div>
           <label>Email</label>
         </div>
         <mat-form-field appearance="outline" >
           <input matInput formControlName="email" type="text" placeholder="Email (eg abc@gmail.com)" />
           <mat-error *ngIf="personalForm.get('email')?.invalid">
             <span    *ngIf="personalForm.get('email')?.errors?.['required']">email is required</span>
             <span   *ngIf="personalForm.get('email')?.errors?.['pattern']">check your email once.</span>
           </mat-error>
         </mat-form-field>
     </mat-card>
  

   <div class="row onlyForMargin">
    <div class="form-group d-flex justify-content-center px-4">
      <button type="button" class="btn btn-danger" (click)="onRetun()">
        Return
      </button>
      <button type="submit" class="btn btn-success me-2 mx-5" (click)="movingtoNextFunction()" >
        Futher
      </button>
    </div>
  </div>
   </div>
  </form>
</div>
  
  <div class="col-5">
    <app-overview></app-overview>
  </div>
</div>


