<app-header></app-header>

<app-slider></app-slider>

<!-- <a routerLink="" >Client</a>
<br>
<a routerLink="product" >Product</a>
<br>
<a routerLink="personal" >Personal</a> -->

<!-- <nav class="myNavBar">
  <ul id="navbar">
    <li><a routerLink="" data-step="1" class="active">Client</a></li>
    <li><a routerLink="product" data-step="2">Product</a></li>
    <li><a routerLink="personal" data-step="3">Personal</a></li>
  </ul>
  <div class="stepper">
    <div class="step active">1</div>
    <div class="step">2</div>
    <div class="step">3</div>
  </div>
</nav> -->

<!-- <router-outlet></router-outlet> -->

