* {
  overflow-y: hidden; /* Hide vertical scrollbar */

}

.maianDivFor{
   margin-left: 50% !important;
}

.maine-container-ofMenu{
   display: flex;
}

.button{
   margin-left: 50%;
   transform: translate(-50% , 0 );
}

.text-center {
   text-align: center;
 }

 .maian-stepper-conatiner{
   margin-top: 4%;
}



 
 .navbar {
  background-color: black;
  display: flex;
  justify-content: center;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-list li {
  margin-right: 60px;
}

.navbar-list li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
