.card {
    margin-left: 10em;
}

.productCards{
    margin-top: 3em;
}

.nameoftopic{
    margin: 2em;
    margin-left: 10em;
}
.switchTrue{
    display: flex;
}

.box2forSwitch{
    margin-left: 2em;
}

.boxforCards{
    display: flex;
}

.box2forCards{
    margin-left: 1em;
}

.boxforCards .form-check{
    display: block;
}

.personalInformation{
    margin-left: 5%;
    width: 43em;
}

.dropdown{
    width: 39rem;
    padding-right: 20em;
}

.inputFields{
    width: 39rem;
    padding-top: 5px;
    margin-top: 5%;
}

.secondDropDown{
    margin-top: 5%;
}

.cardNameWithPrice{
    display: flex;
}

.cardNameWithPrice p {
    margin-left: 15em;
}

.my-personal-container{
    border: 1px solid black;
}
.body-card {
    margin-left: 150px;
}

input.ng-invalid{
    border-left: 5px solid red;
}
input.ng-valid{
    border-left: 5px solid green;
}

input.ng-invalid.ng-touched{
    border-color : red
}

.form-conatiner{
    margin-left: 20%;

}
.newInputs{
    padding-right: 30px;
}

.newInputs{
    margin-left: 20px;
}

.justMoving{
    margin-left: 150px;
    margin-bottom: 2em;
}

